node_modules
build/asset-manifest.json
build/index.html
build/manifest.json
build/service-worker.js
build/static/css/main.9888e168.css
build/static/css/main.9888e168.css.map
build/static/js/0.de933b3e.chunk.js
build/static/js/0.de933b3e.chunk.js.map
build/static/js/1.85f2d909.chunk.js
build/static/js/1.85f2d909.chunk.js.map
build/static/js/2.d684f075.chunk.js
build/static/js/2.d684f075.chunk.js.map
build/static/js/main.8837eb8b.js
build/static/js/main.8837eb8b.js.map
build/static/media/burger-logo.b8503d26.png
.firebaserc
.gitignore
firebase.json
.firebase/hosting.YnVpbGQ.cache
